<div class="navbar navbar-default navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <a href="../" class="navbar-brand">{{ data.pageHeader.title}}</a>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
      <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
    </ul>
  </div>
</div>
</div>

<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>{{ data.pageHeader.tagline }}</h1>
        <p class="lead">{{ data.pageHeader.subtagline }}</p>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-6">
   </div>
<section>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label class="filterlabel control-label" for="inputDefault">{{ data.pageHeader.tempfilterlabel }}</label>
          <input id="inputDefault" type="number" name="filter" placeholder='Enter Temperature &deg;F' class='input' ng-model="search.temp" />
        </div>
      <div class="error">{{ vm.message }}</div>
    </div>
</section>
<section>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="filterlabel" for="actfilter">{{ data.pageHeader.actfilterlabel }}</label>
        <input id="actfilter" type="text" name="filter" placeholder='Golf, Running, Hiking, etc' class='input' ng-model="search.activity" />
        <div class="error">{{ vm.message }}</div>
    </div>
  </div>
</div>
</section>
<section>
<div class="row">
  <div>
    <span ng-show="search.temp">
      <h3 ng-class="getCSSClass(search.temp)">Suggestions for {{ search.temp }} &deg;F</h3>
      <div class="col-xs-8 col-sm-6 list-group-item" ng-repeat="item in data.wardrobe.wardrobe | filterTemp:search | orderBy:'temperature' track by $index">
        <div class="alert alert-dismissible alert-success">
          <h5 class="lead">{{ item.temperature }} &deg;F on a {{item.conditions | validate | titleCase }} day with {{ item.wind }}mph winds.</h5>
          <h5> Feels like {{ item.feelsLike  | validate }} &deg;F with humidity of {{ item.humidity  | validate }}% at {{ item.timeOfDay }} </h5>
        </div>
        <div class="panel panel-info">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Activity: {{ item.activity | validate | titleCase }} at {{ item.intensity | validate | titleCase }} intensity</h3>
            </div>
            <div class="panel-body">
              <div class="top-gear gear-label">Top Gear</div>
              <div class="top-gear-list">{{ item.top | validate | titleCase }}, {{ item.head | validate | titleCase }}, {{ item.hands | validate | titleCase  }}, {{ item.arms | validate | titleCase  }}</div>
              <div class="bottom-gear gear-label">Bottom Gear</div>
              <div class="bottom-gear-list">{{ item.bottom | validate | titleCase }}, {{ item.socks | validate | titleCase }}</div>
              <div class="accessories-gear gear-label">Accessories Gear</div>
              <div class="accessories-gear-list">{{ item.outter | validate | titleCase }}, {{ item.socks | validate | titleCase }}, {{ item.reflective | validate | titleCase }}</div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>
</section>
<div class="sponsor">
  <span ng-hide="search.temp">
    <h3> What you've worn before!</h3>
    <div class="col-xs-8 col-sm-6 list-group-item" ng-repeat="item in data.wardrobe.wardrobe | orderBy:'temperature' track by $index">
      <div class="alert alert-dismissible alert-success">
        <h5 class="lead">{{ item.temperature }} &deg;F on a {{item.conditions | validate | titleCase }} day with {{ item.wind }}mph winds.</h5>
        <h5> Feels like {{ item.feelsLike  | validate }} &deg;F with humidity of {{ item.humidity  | validate }}% at {{ item.timeOfDay }} </h5>
      </div>
      <div class="panel panel-info">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Activity: {{ item.activity | validate | titleCase }} at {{ item.intensity | validate | titleCase }} intensity</h3>
          </div>
          <div class="panel-body">
            <div class="top-gear gear-label">Top Gear</div>
            <div class="top-gear-list">{{ item.top | validate | titleCase }}, {{ item.head | validate | titleCase }}, {{ item.hands | validate | titleCase  }}, {{ item.arms | validate | titleCase  }}</div>
            <div class="bottom-gear gear-label">Bottom Gear</div>
            <div class="bottom-gear-list">{{ item.bottom | validate | titleCase }}, {{ item.socks | validate | titleCase }}</div>
            <div class="accessories-gear gear-label">Accessories Gear</div>
            <div class="accessories-gear-list">{{ item.outter | validate | titleCase }}, {{ item.socks | validate | titleCase }}, {{ item.reflective | validate | titleCase }}</div>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>
</div>
