<section class="main-nav">
  <div class="logo-arrow" ng-click="toggleNavList({type: 'main-click'})">
    <img class="main-nav-logo" src="/images/top-nav-logo.png" />
    <img class="main-nav-arrow" src="/images/top-nav-arrow.png" ng-class="{'rotate-arrow': expand}"/>
  </div>
  <ul class="nav-list" ng-show="expand" ng-mouseleave="toggleNavList($event)" ng-click="toggleNavList($event)" >
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/chrome">Chromatography</a>
    </li>
    <li>
      <a href="/cellculture">Cell Culture</a>
    </li>
  </ul>
</section>
